<%=render "shared/login"%>
<p id="notice"><%= notice %></p>
<h1 class="schedule">スケジュール管理</h1>

<table>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<%= month_calendar events: @meetings do |date, meetings| %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
  </tbody>
</table>
<br>

<%= link_to 'スケジュールを追加', new_meeting_path %>
<%= month_calendar events: @meetings do |date,meetings| %>
    <%= date.day %>
<% end %>
