<%=render "shared/login"%>
<div class="meeting-screen">
 <h1 class="meeting-title">スケジュールを記入する</h1>

 <div class="meeting-main">
  <%= form_with model: @meeting, url: meetings_path, local: true do |form| %>

    <div class="meeting-name">
      <%= form.label :Name %>
      <%= form.text_field :name %>
    </div>

      <div class="time">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time %>
    </div>

      <div class="time">
      <%= form.label :end_time %>
      <%= form.datetime_select :end_time%>
      </div>

    <div class="submit">
      <%= form.submit %>
    </div>

  </div>

 <% end %>
</div>
