<%= render "shared/top" %>
<div class="contents">
<span><%=link_to "《戻る" , objective_path, class:"post" %></span>
  <div class="conainer">
  
     <h1 class="text-title">目標とアクションプランを作成して、投稿しよう！</h1>
        <%= form_with model: @objective , url: objective_path, id: 'new_user', class: 'new_user', local: true do |f| %>

      <div class="field">
       <h3>ユーザーネーム</h3>
        <%= f.text_field :user_name, class: "post"%>
      </div>

      <div class="field">
        <h3>目標投稿イメージ画像<h3>
        <%= f.file_field :image, id:"profile-image",class: "text" %>
      </div> 

      <div class="field">
          <h3>目標のテーマを決めよう！</h3>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box",id:"item-category",include_blank: "---取り組むテーマを選択して下さい---"}) %>
      </div>

       <div class="field">
          <h3>時間設定(一日あたりの時間)</h3>
            <%= f.collection_select(:hobit_id, Hobit.all, :id, :name, {}, {class:"select-box",id:"item-category"}) %>
        </div>

        <div class="field">
            <h3>目標宣言（具体的な目標を設定しよう！）</h3>
             <%= f.text_area :one_day, class: "text"%>
        </div>

      <div class="field">
          <h3>First-Step：目標を達成するためのアクションプランを考えよう！</h3>
            <p>(具体的な行動を記入しよう！)</p>
            <%= f.text_area :action_plan, class: "text"%>
      </div>
    <span>※目標宣言はここまで</span>
      <div class="actions">
 <%= f.submit "投稿する！", class: "submit-btn" %>
      </div>

 <br>
 <br>
 <br>
 <br>
 <br>
   <div class="hobit-field">
    <h1 class="text-title">行動/習慣を見直してみよう！</h1>
      <p>注：行動/習慣については、個人的な内容を含むため非公開になっています。</p>
       <br>
       <div class="field_hobit">
       <h3>目標達成を妨げる習慣/行動を記入しよう！</h3>
        <%= f.text_area :hobituation, class: "text"%>
     </div>
       <div class="field">
       <h3>習慣/行動のメリットとデメリットを考えよう！</h3>
       <p>(メリットを考えてみよう！)</p>
        <%= f.text_area :merit, class: "text-field"%>
     </div>
        <div class ="field">
       <p>(デメリットを考えてみよう！)</p>
        <%= f.text_area :demerit, class: "text-field"%>
     </div>
    </div>
     <% end %>
  </div>

    <div class="contents-side">
           <p class="contents-list">宣言効果って？</p>
       <div class="first-text" id="first-text">     
            <b>自分の目標を他人に宣言することで、</b>
            <b>その目標が達成しやすくなることです。</b>
            <b>理由は宣言という行動によって、</b>
            <b>自分にプレッシャーをかけられることが挙げられます。</b>
        </div>
         <div class= "second-text" id="second-text">  
          <b>逆に宣言をしなければその目標は自分だけのものになり、<b>
          <b>辛くなったり、投げ出したくなったときに、</b>
          <b>簡単に諦めることができてしまいます。<b>
          <b>また宣言をすることで、</b>
          <b>その目標に意識を向ける機会が増えるため、</b>
          <b>目標を達成する意欲を高めることにつながります。</b>
       </div>

           <p class="second-list">習慣を見直そう！</p>
       <div class="contents-text" id="text"> 
            <%= image_tag "2161013_s.jpg", class: "image"%>    
            <b class="first-contact">目標達成を妨げている習慣を見直すことで、</b>
            <b class="first">継続できる習慣を身につけよう！</b>
        </div>
         <div class= "second-text" id="text">  
          <b class="second-title">習慣が直せない！！<b>
          <b class="second">メリットとデメリットを書き出そう！</b>
          <b>内容を比べることで、習慣の見方を変えよう!<b>
          <b>書き出した内容はいつでも見れるよ！</b>
       </div>

    </div>
  
  </div>