 <%= render "shared/header"%>
 <div class="center_screen">

   <div class="object-sidemenu">
       <button class ="side-bar"  id= "lists" >Menu-list∇</button>
          <ul class ="side-lists hidden" id = "side-lists">
               <li><%= link_to new_objective_path, class: "post" do %><%= image_tag "note.jpeg", class: "icon" %>投稿を作成する</li><% end %>
               <li class="lists" id="modal-class"><%= image_tag "lists.jpg", class: "icon" %>習慣リスト表示</li>
                        <div class="object-hobits">
                           <div class= "object-hobitlist" id="modal-content">
                            <h2><%= image_tag "lists.jpeg", class: "icon" %>①改善したい習慣/②メリット/③デメリット</h2>
                               <% @objectives.first(20).each do |objective| %>
                               <% if objective.hobituation.present? && current_user.id == objective.user.id %>
                                    <p>①<%= objective.hobituation %></p>
                                    <p>②<%= objective.merit %></p>
                                    <p>③<%= objective.demerit %></p>
                                 <% end %>
                                 <% end %>
                                 <p><button class="hobit-close" id="hobit-close">close</button></p>
                           </div>
                              <div class="hobit-mask" id="hobit-mask"></div>
                        </div>

               <li class="lists" id="modal-userIndex"><%= image_tag "lists.jpg", class: "icon" %>自分の投稿一覧</li>
                           <div class="user-index">
                              <div class="user-contents" id="user-contents">
                                 <h1><%= image_tag "lists.jpeg", class: "icon" %>ユーザー投稿一覧</h1>
                                 <% @objectives.each do |objective| %>
                                    <% if current_user.id == objective.user.id %>
                                    <%= link_to objective_path(objective.id) do %>
                                    <p><%= objective.one_day %></p> 
                                       <% end %>
                                       <% end %>
                                       <% end %>
                                    <button class="user-close" id="user-close">close</button>
                              </div>
                           </div>

                    <%= search_form_for @q, url: search_objectives_path do |f| %>
                     <li class="lists" id="search-lists"><%= image_tag "search.png", class: "icon" %> 投稿テーマで検索する▽</li>
                     <li class="search" id="search-list"><%= f.collection_select :category_id_eq, Category.where.not(id: 0),:id,:name %><span><%= f.submit '検索',class:"search-btn" %></span></li>
                    <% end %>
                   <li class="lists" id="search-name"><%= image_tag "yell.jpg", class: "icon" %>応援中の投稿を表示</li>
                   <div class = "like-list" id = "like-list">
                      <h2>応援中の投稿</h2>
                       <% @likes.each do |like| %>
                         <%= link_to objective_path(like.id) do %>
                          <span><%= like.one_day %>  <%= like.user_name %></span>
                       <% end %>
                       <% end %>
                       <button class="like-close" id ="like-close">close</button>
                   </div>

               <li class="lists" id= "modal-lists"><%= image_tag "list.jpg",class: "icon" %>ユーザー情報詳細表示/編集</li>
                           <div class="module-show">
                              <div class="show-lists" id="modal">
                                 <h1>User Profiel</h1>
                                 <p><%= link_to "〆編集", edit_user_registration_path(current_user.id) %></p>
                                 <% if current_user.image.present? %>
                                  <%= image_tag(current_user.image_url) %>
                                 <% end %>
                                 <p>ユーザー名</p>
                                  <%= current_user.nick_name %>
                                 <p>e-mail</p>
                                  <%= current_user.email %>
                                 <p>プロフィール</p>
                                  <%= current_user.profile %>
                                 <br>
                                 <button class= "close" id="close">close</button>
                             </div>
                              <div class="mask" id="mask"></div>
                            </div>
               <li><%= link_to users_index_path, class: "post" do%><%= image_tag "human.png", class: "icon" %>ユーザー一覧</li><% end %>
               <li><%= link_to aggregates_path, class: "post" do %><%= image_tag "list.jpg", class: "icon" %>ノートを開く</li><% end %>
               <li><%= link_to destroy_user_session_path, method: :delete,class: "post" do %><%= image_tag "logout.jpg" ,class: "icon"%>ログアウト</li><% end %>
          </ul>
   </div>

  <div class="object-lists">
    <% @objectives.first(4).each do |objective| %>
       <div class='objective-img-content'>
            <%= link_to  objective_path(objective.id) do %>
                <%= image_tag objective.image, class:"object-image" if objective.image.attached? %>
                <div class= "object-name">
                  <span><%= objective.user_name %></span>
                  <span><%= objective.category.name %></span>
            <% end %>
            </div>
          </div>
    <% end %>
  </div>

</div>