<%= render "shared/login" %>
<div class="contents">
  <div class="container">
    <h1>Setting of the Goal</h1>
    <%= form_with model: @objective , url: objectives_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class="field">
       <h3>ユーザーネーム</h3>
        <%= f.text_area :user_name, class: "text"%>
      </div>
    <div class="field">
    <h3>目標投稿イメージ画像<h3>
        <%= f.file_field :image, id:"profile-image",class: "text" %>
     </div>   
      <div class="field">
      <h3>目標のテーマを決めよう！</h3>
       <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box",id:"item-category"}) %>
       <h3>時間設定(一日あたりの時間)</h3>
        <%= f.collection_select(:hobit_id, Hobit.all, :id, :name, {}, {class:"select-box",id:"item-category"}) %>
        <h3>一日の目標</h3>
        <%= f.text_area :one_day, class: "text"%>
      </div>
      <div class="field">
      <h3>目標を達成するためのアクションプランを考えよう！</h3>
      <p>(具体的な行動を記入しよう！)</p>
        <%= f.text_area :action_plan, class: "text"%>
      </div>
       <div class="field">
       <h3>習慣化したい行動を記入しよう！</h3>
        <%= f.text_area :hobituation, class: "text"%>
      </div>
       <div class="field">
       <h3>行動のメリットとデメリットを考えよう！</h3>
       <p>(メリットを考えてみよう！)</p>
        <%= f.text_area :merit, class: "text"%>
        </div>
        <div class ="field">
       <p>(デメリットを考えてみよう！)</p>
        <%= f.text_area :demerit, class: "text"%>
      </div>
      <div class="actions">
        <%= f.submit "commit!" ,class: "submit-btn"%>
      </div>
    <% end %>
  </div>
</div>