<%=render "shared/top" %>

<div class= "object-show-box">
  <div class="object-explain-box">
    <table class="detail-table">
    <tbody>
    <tr>
     <%= image_tag @objective.image.variant(gravity: :center, resize: '380x380') %>
    </tr> 
            <tr>
               <th class="detail-object">ユーザー名</th>
               <td class="detail-value"><%= @objective.user_name %></td>
            </tr>

            <tr>
              <th class="detail-object">テーマ</th>
              <td class="detail-value"><%= @objective.category.name %></td>
            </tr>

            <tr>
              <th class="detail-object">毎日実行できる時間</th>
              <td class="detail-value"><%= @objective.hobit.name %></td>
            </tr>

            <tr>
              <th class="detail-object">目標宣言！</th>
              <td class="detail-value"><%= @objective.one_day %></td>
            </tr>

            <tr>
              <th class="detail-object">アクションプラン</th>
              <td class="detail-value"><%= @objective.action_plan %></td>
            </tr>
          </tbody>
       </table>
       <div class= "users-select">
          <% if current_user.image_url.present? %>
            <img src=<%= @objective.user.image %> class="image"><% end %>
            <%=link_to 'プロフィール表示/', user_path(@objective.user.id), method: :get, class: "users-selection"  %>
          <% if user_signed_in? && current_user.id == @objective.user_id%>
              <span>/</span>
            <%= link_to '目標の修正' ,edit_objective_path(@objective.id), method: :get, class: "users-selection" %>
                     <span>/</span>
            <%= link_to '削除', objective_path(@objective.id), method: :delete, class: "users-selection",data: {confirm: '本当に削除しますか？'} %>
            <% else %>
              <%= render 'post' ,objective: @objective %>
          <% end %>
       </div>
    </div>

   <div class= "object-display">
     <div class= "comment-container" id="comment-container">
     <h3>コメントコーナー</h3>
      <%= form_for [@objective, @comment] do |f| %>
      <%= f.text_area :text, placeholder: "コメントする", rows: "2" ,class: "text",id: "text" %>
    <span><%= f.submit "送信",class: "send-btn" ,id: "submit" %></span>
       <% end %>
     <p class="text-title">コメント一覧</p>
    <div class="comments" id="comments">
     <%= @comments.count %>件のコメント(新着順10件まで表示)
     <% @comments.first(10).each do |comment| %>
      <% unless comment.id.nil? %>
         <div class ="comments-table">
          <%= comment.text %>
           <div class="comment-name">
           <%= link_to user_path(comment.user.id) do%>
         <% if current_user.image_url.present? %>
          <%= image_tag(comment.user.image_url) %>
         <% end %>
          <%= comment.user.nick_name %>
          <% end %>
          <% if current_user.id == comment.user_id%>
        <span><%= link_to "削除", objective_comment_path(@objective,comment) ,method: :delete ,class: "comment-btn",data: {confirm: '本当に削除しますか？'} %></span>
          <% end %>
          </div>
        </div> 
      <% end %>
      <% end %>
     </div> 
</div>
