<%=render "shared/login" %>
<div class= "object-show-box">
<div class= "object-image-box">
  <%= image_tag @objective.image.variant(gravity: :center, resize: '450x450'),class: "object-image" %>
</div>
<div class="object-explain-box">
      <span>ユーザー：<%= @objective.user_name %></span>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-object">テーマ</th>
          <td class="detail-value"><%= @objective.category.name %></td>
        </tr>
        <tr>
          <th class="detail-object">毎日実行できる時間</th>
          <td class="detail-value"><%= @objective.hobit.name %></td>
        </tr>
        <tr>
          <th class="detail-object">一日の目標</th>
          <td class="detail-value"><%= @objective.one_day %></td>
        </tr>
        <tr>
          <th class="detail-object">今日のアクションプラン</th>
          <td class="detail-value"><%= @objective.action_plan %></td>
        </tr>
        <tr>
          <th class="detail-object">習慣化したいこと</th>
          <td class="detail-value"><%= @objective.hobituation %></td>
        </tr>
        <tr>
          <th class="detail-object">習慣化のメリット</th>
          <td class="detail-value"><%= @objective.merit %></td>
        </tr>
        <tr>
          <th class="detail-object">習慣化のデメリット・障害</th>
          <td class="detail-value"><%= @objective.demerit %></td>
        </tr>
      </tbody>
    </table>
  <div class= "object-display">
<% if user_signed_in? && current_user.id == @objective.user_id%>
    <%= link_to '目標の修正' ,edit_objective_path(@objective.id), method: :get, class: "btn--object" %>
    <span>or</span>
    <%= link_to '削除', objective_path(@objective.id), method: :delete, class: "btn--object" %>
 <% elsif user_signed_in? %>
    <div class= "comment-container">
    <%= form_with(model: [@objective, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" ,class: "text"%>
    <span><%= form.submit "メッセージを送る",class: "send-btn" %></span>
     <% end %>
     <% else %>
    <% end %>
    </div>
  </div>
     <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <div class ="comments-table">
        <% @comments.each do |comment| %>
        <p>
     <%= link_to comment.user.nick_name, "/objectives/#{comment.user_id}" ,class: "comment-lists"%>:
        <%= comment.text %>
        </p>
      <% end %>
      </div>
   </div>
   </div>