<%=render "shared/top" %>
<div class= "object-show-box">
<% if user_signed_in? && current_user.id == @objective.user_id%>
    <%= link_to '目標の修正' ,edit_objective_path(@objective.id), method: :get, class: "btn--object" %>
    <span>/</span>
    <%= link_to '削除', objective_path(@objective.id), method: :delete, class: "btn--object" %>
<% end %>
<div class= "object-image-box">
  <%= image_tag @objective.image.variant(gravity: :center, resize: '450x450'),class: "object-image" %>
</div>
<div class="object-explain-box">
      <span>ユーザー：<%= @objective.user_name %></span>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-object">テーマ</th>
          <td class="detail-value"><%= @objective.category.name %></td>
        </tr>
        <tr>
          <th class="detail-object">毎日実行できる時間</th>
          <td class="detail-value"><%= @objective.hobit.name %></td>
        </tr>
        <tr>
          <th class="detail-object">目標宣言</th>
          <td class="detail-value"><%= @objective.one_day %></td>
        </tr>
        <tr>
          <th class="detail-object">アクションプラン</th>
          <td class="detail-value"><%= @objective.action_plan %></td>
        </tr>
        <%if current_user.id == @objective.user_id %>
           <tr>
           <th class="detail-object">目標達成を妨げる習慣/行動</th>
           <td class="detail-value"><%= @objective.hobituation%></th>
           </tr>
           <tr>
          <th class="detail-object">メリット</th>
          <td class="detail-value"><%= @objective.merit %></td>
        </tr>
        <tr>
          <th class="detail-object">デメリット</th>
          <td class="detail-value"><%= @objective.demerit %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <div class= "object-display">
 <% if user_signed_in? %>
    <div class= "comment-container">
    <h3>コメントコーナー</h3>
    <%= form_with(model: [@objective, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" ,class: "text"%>
    <span><%= form.submit "送信",class: "send-btn" %></span>
     <% end %>
     <% else %>
    <% end %>
     <div class="comments">
      <h4>コメント一覧</h4>
      <div class ="comments-table">
        <% @comments.each do |comment| %>
        <p>
    <strong><%= comment.user.nick_name %>:</strong>
        <%= comment.text %>
        </p>
      <% end %>
      </div>
   </div>
   </div>
   </div>
   </div>