<header class="top-header">
<h1 class="title">Let's Start Now!</h1>
  <div class="top-about" id="about">about</div>

  <div class="top-signup">
      <span>Let's Start!</span><%= link_to  new_user_registration_path do %>
         <button class="header-btn" id="header-btn">SignUp</button>
      <% end %>
          <%= link_to user_session_path do %>
            <button class="start-btn" id="start-btn"> LogIn</button>
          <% end %>
  </div>
</header>
 
  <div class="top-page">
    <div class="top-title">
      <h1>Let's<br>
      Start<br>
      Now!</h1>
      <h2>〜今できることから始めよう〜</h2>
     </div>
     


  <div class="top-object">
  <div class="top-frame">
  <h2>目標達成×つながる アプリ</h2>
  </div>
    <div class="top-sapport">
    <%= image_tag "4192977_s.jpg" , class: "image" %>
      <h4>目標達成サポート</h4>
      <p>目標を宣言・投稿する。</p>
      <p>テーマを決めて取り組む！</p>
      <p>習慣を見直して改善する。</p>
      <p>多彩な機能が、</p>
      <p>あなたの目標達成をサポートします。</p>
     </div>
   <div class= "top-lists">
   <%= image_tag "3411592_s.jpg", class: "image"%>
      <h4>目標管理</h4>
       <p>達成した目標をノートに記録！</p>
       <p>自分のペースで目標を管理できる。</p>
       <p>毎日の積み上げを記録しよう！</P>
   </div>
    
    <div class="top-lists">
    <%= image_tag "4192977_s.jpg" ,class: "image" %>
      <h4>共有・共感</h4>
       <p>同じ目標を持つ仲間とつながる。</p>
       <P>応援してくれる。</p>
       <p>高め合える仲間に出会える</p>
       <p>目指す方向が同じだから共感できる。</p>
    </div>
    <div class="top-lists">
    <%= image_tag "4011543_s.jpg", class: "image"%>
      <h4>スモールステップ</h4>
        <p>小さな努力から始めよう！</p>
        <p>今できることからゆっくりステップアップ！</p>
        <p>大きな目標もまずは、小さな一歩から踏み出そう！</p>
    </div>
    <div class="top-lists">
         <b>Frist Of All</b><%= link_to new_user_registration_path do%>
        <button class="main-btn" id="main-btn">SignUp</button>
        <% end %><br>
         <b>Let's Start</b> <%= link_to user_session_path do %>
         <button class="login-btn" id="login-btn">Login</button>
         <%end%>
     </div>
  </div>
  </div>

  <div class="top-footer">
  <p>利用規約</p>
  <p>ヘルプ</p>
  <p>個人情報保護</p>
  <p>2021/ Let's Start Now from Nakaya</P>
  </div>