 <header class="header">
  <div class="header_bar">
     <% if user_signed_in? %>
          <div class="user_nav-grid">
          <span><%= "ユーザーネーム #{current_user.nick_name}" %>
           <ul class="user_info">
            <li>
             <%= link_to "ToDoリスト投稿", new_objective_path, class: "post" %>
             <%= link_to "成長記録", new_aggregate_path(current_user.id), class: "post" %>
             <%= link_to "マイページ", aggregate_path(current_user.id),class: "post" %>
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "post" %>
            </li>
            </ul>
          </span>
        <% else %>
         <h2 class="grid" >First of all Sign Up</h2>
          <ul class="user_info">
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </li>
        <% end %>
        </div>
        </div>
    </header>