 <header class="header">
  <div class="header-bar">
  <h1 class="title">Let's Start Now</h1>
     <% if user_signed_in? %>
          <div class="user_nav-grid">
           <div class="user_info">
           <div class ="todo-lists"  id= "lists" >Menu-list</div>
            <ul class ="todo-lists hidden" id = "pull-down-lists">
             <li><%= link_to "グループページへ移動する", groups_path, class: "post" %></li> 
             <li><%= link_to "トップページへ移動する", root_path, class: "post" %></li>
             <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "post" %></li>
            </ul>
          </div>
        <% else %>
         <h2 class="grid" >First of all Sign Up</h2>
          <ul class="user_info">
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </li>
        <% end %>
          </ul>
        </div>
        </div>
    </header>
             