 <header class="header">
      <div class="header-bar">
      <h1 class="title"><%= link_to "Let's Start Now", objectives_path, class: "title-logo" %></h1>
    <div class="header-space">
      <h1 class="title">Search</h1>
    </div>
    <div class="header-user">
     <% if current_user.image_url.present? %>
      <%= link_to user_path(current_user.id) do%>
        <span><%= image_tag(current_user.image_url) %></span>
        <span><%= current_user.nick_name %></span>
       <% end %>
       <% else %>
         <span><%= current_user.nick_name %></span>
       <% end %>
    </div>
   </div>
 </header>
             