<header class="header">
  <div class="header-bar">
    <h1 class="title" ><%=link_to  "Let's Start Now!" , objectives_path , class: "title-logo"%></h1>
     <div class="header-link">
        <h1 class="title">Object</h1>        
     </div>
     <div class="user-name">
        <span>login user:</span>
          <% if current_user.image_url.present? %>
               <%= link_to user_path(current_user.id) do%>
               <span><%= current_user.nick_name %></span>
               <span><%= image_tag(current_user.image_url) %></span>
            <% end %>
          <% else %>
           <span><%= current_user.nick_name %></span>
         <% end %>
     </div>
   </div>
 </header>