<%= render "shared/login" %>
<div class="aggregate-contents">
  <div class="container">
        <h1 class="text-title">成長の記録をつけよう！</h1>
          <%= form_with model: @aggregate, url: aggregate_path, class: 'aggregate_user', local: true do |f| %>
           <%= render 'shared/error_messages', model: f.object %>
          <div class="field">
            <h3>成長した能力を記録しよう！</h3>
          <%= f.collection_select(:ability_id, Ability.all, :id, :name, {}, {class:"select-box",id:"aggregate-category"}) %>
          </div>
          <div class="field-average">
            <h3>目標の達成率を記入しよう！(0 ~ 100 )</h3>
            <%= f.text_field :action_point, id: "grow-up", class: "average" %><span>%</span>
          </div>
            <span class ="action" id= "action-point"></span>
          <div class="field">
          <div class ="actions">
            <%= f.submit "記録する！" ,class: "aggregate-btn"%>
          </div>
          <% end %>
        </div>
    </div>
  <div class="content-text">
      <div class="aggregate-screen" id="action-complet">
      </div>
  </div>  
</div>