<%= render "shared/mypage"%>
    <div class="main_screen">
    <div class="main-header">
      <h2 class="current-group">My page</h2>
    </div>
 <div class="center_screen">
 <h1 class="center-title">My Note</h1>
 <div class = "aggregate-box">
 <ul class="aggregate-lists">
      <% @aggregates.each do |aggregate| %>
         <%= link_to  aggregate_path(aggregate.id) do %>
            <div class="aggregate-name">
            <p><%= aggregate.start_day%></p>
            <p><%= aggregate.result_comment %></p>
            <p>達成率:<%= aggregate.action_point %>%</p> 
            </div>
      <% end %>
  <% end %>
<% if @aggregates.blank?%>
<h1 class ="center-title">自分だけのノートを作成しよう！</h1>
<% end %>
 </div>
 </div>