<header class="header">
      <div class="header-bar">
      <h1 class="title">Let's Start Now</h1>
    <div class="header-space">
      <h1>My Page</h1>
    </div>
    <div class="header-user">
      <%= link_to user_path(current_user.id) do%>
        <span><%= image_tag(current_user.image_url) %></span>
        <span><%= current_user.nick_name %></span>
       <% end %>
    </div>
   </div>
 </header>
    <div class="main_screen">
         <div class="center-screen-a">
               <button class="center-title" id="note-btn">My Note</button>
            <div class="note-lists" id="note-lists">
                <li><%= link_to  "#タスクをノートに記入する", new_aggregate_path(current_user.id) ,class:"note"%></li>
                <li class="aggregate-menu">ノートの管理</li>
                <li class="aggregate-list">達成済みのタスクを表示する</li>
                <li class= "aggregate-menu">#If-thenルール</li>
                 <li class ="aggregate-menu">#学習サポート</li>
                 <li><%= link_to "#投稿ページに移動する", objectives_path(current_user.id) , class:"note"%></li>
                 <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "note" %></li>
            </div>
         </div>

      <div class = "aggregate-box">
        <h3 class="aggregate-title">Now Doing</h3>
        <h4 class="supple">(最大５件まで保存可能)</h4>
        <div class="aggregate-lists">
              <% @aggregates.first(5).each do |aggregate| %>
              <%if aggregate.action_point.blank? %>
                    <span><%= aggregate.start_day %></span>
                    <span>テーマ：<%= aggregate.result_comment %></span>
            <%= link_to aggregate_path(aggregate.id) do %>
                <span><button type ="button" >詳細</button></span>
            <% end %>
            <%= link_to edit_aggregate_path(aggregate.id) do %>
                <span><button type ="button">編集</button></span>
            <%end%>
            <%= link_to aggregate_path(aggregate.id), method: :delete do %>
                <span><button type ="button">削除</button></span>
            <% end %>
        <% end %>
        <% end%>
    </div>
  </div>
 </div>
 <%= render "shared/futter" %>