<header class="header">
      <div class="header-bar">
      <h1 class="title"><%= link_to "Let's Start Now", objectives_path, class: "title-logo" %></h1>
    <div class="header-space">
      <h1>Note</h1>
    </div>
    <div class="header-user">
      <%= link_to user_path(current_user.id) do%>
        <span>login User:<%= current_user.nick_name %></span>
        <span><%= image_tag(current_user.image_url) %></span>
       <% end %>
    </div>
   </div>
 </header>

    <div class="main_screen">
         <div class="center-screen-a">
               <button class="center-title" id="note-btn">My Note∇</button>
            <div class="note-lists hidden" id="note-lists">
                <li><%= link_to  new_aggregate_path(current_user.id) ,class:"note" do %><%= image_tag "pen.png",class: "icon" %>ノートを記入する</li><% end %>
                <li class="aggregate-menu" id="aggregate-menu"><%= image_tag "list.jpg", class: "icon" %>ノートの管理</li>

                <div class="aggregate-note" id="aggregate-note">
                  <div class="aggregate-notelists">
                    <h1>実行中のタスク</h1>
                    <% @aggregates.each do |aggregate| %>
                      <%= link_to edit_aggregate_path(aggregate.id) do %>
                       <% if aggregate.action_point.blank? %>
                            <h3><%= aggregate.result_comment%></h3>
                            <p><%= aggregate.start_day %></p>
                        <% end %>
                       <% end %>
                     <% end %>
                   </div>
                 <div class="aggregate-complet">
                 <h1>完了したタスク</h1>
                 <% @aggregates.each do |aggregate| %>
                  <% if aggregate.action_point.present? %>
                   <%= link_to aggregate_path(aggregate.id) do %>
                        <h3 id="edit-box"><%= aggregate.result_comment %></h3> 
                        <p id ="edit-box">達成率:<%= aggregate.action_point %>%
                    <% end %>
                  <span><%= link_to aggregate_path(aggregate.id) ,class: "delete", method: :delete  , data: {confirm: '本当に削除しますか？'}  do%><%= image_tag "doust.png", class: "icon" %></span><% end %></p>
                 <% end %>
                 <% end %>
                 <button id="close">close</button>
                 </div>
                </div>

                <li class= "aggregate-menu" id="ifthen-list"><%= image_tag "lists.jpg", class: "icon" %>If-thenルール</li>
                  <div class="list-ifthen" id="ifthen-index">
                    <h1><%= image_tag "lists.jpg", class: "icon" %>if-thenルール一覧</h1>
                    <% @aggregates.each do |aggregate| %>
                    <p><%= aggregate.self_compliment %></p>
                     <% end %>
                   <button id="list-close">close</button>
                  </div>
                 <li><%= link_to  objectives_path(current_user.id), class: "note" do %><%= image_tag "turn.jpg", class: "icon" %>投稿ページに戻る</li><% end %>
                 <li><%= link_to destroy_user_session_path, method: :delete , class: "note" do %><%= image_tag "logout.jpg", class: "icon" %>ログアウト</li><% end %>
            </div>
         </div>

      <div class = "aggregate-box">
       <div class="note-animation">
           <div class="note-title" id="note-title">
            <h1>ノート機能</h1>
             <p>記録を残して、自分だけのノートを作成しよう！</p>
             <p>タスク管理〜達成した目標を残すことができる！</p>
            </div>
          <div class="note-info" id="note-info">
            <h1>If thenルール</h1>
             <p>始めるきっかけ、ルーティングを作成しよう！</p>
             <p>やるべきことが自然にできる仕組みを作ろう。</p>
         </div> 
 </div>
 