<%= render "shared/login" %>
<div class="contents">
  <div class="container">
    <h1>成長の記録をつけよう！</h1>
    <%= form_with model: @aggregate, url: aggregates_path, class: 'aggregate_user', local: true do |f| %>
      <div class="field">
      <h3>成長を実感した能力はありますか？</h3>
       <%= f.collection_select(:ability_id, Ability.all, :id, :name, {}, {class:"select-box",id:"aggregate-category"}) %>
        <h3>目標の達成率を記入しよう！(0 ~ 100 )</h3>
        <%= f.text_field :action_point, id: "grow-up", class: "text"%><span>%</span>
      </div>
      <span>成長値:</span>
        <span id= "ability-point"></span>
       <span>継続指数:</span>
       <span id= "action-point"></span>
      <div class="field">
      <h3>成長値を入力して下さい(MAX 10)</h3>
        <%= f.text_field :ability_point,class: "text"%>
      </div>
      <div class="field">
      <h3>継続指数を入力して下さい (MAX 5)</h3>
       <%= f.text_field :continuation_data, class: "text"%>
       </div>
       <div class="field">
       <h3>自分への褒め言葉を書こう！</h3>
       <%= f.text_area :self_compliment, class: "text"%>
       </div>
      <div class ="actions">
        <%= f.submit "setting!" ,class: "submit-btn"%>
      </div>
      <% end %>
  </div>
</div>