<%= render "shared/login" %>
<div class="aggregate-contents">
  <div class="container">
    <h1 class="text-title">成長の記録をつけよう！</h1>
<%= form_with model: @aggregate, url: aggregates_path, class: 'aggregate_user', local: true do |f| %>
 <%= render 'shared/error_messages', model: f.object%>
      <h3>始める日を入力しよう！</h3>
       <div class='field'>
             <%= raw sprintf(
                  f.date_select(
                    :start_day,
                    class:'select-birth',
                    id:"start-day",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2019,
                    end_year: (Time.now.year),
                    date_separator: '%s'),
                  "<span> 年 </span>", "<span> 月 </span>")+ "<span> 日 </span>" %>
        </div>

      <div class= "field">
      <h3>取り組む期間を入力しよう！</h3>
       <%= f.collection_select(:period_id, Period.all, :id, :name, {}, {class:"select-box",id:"aggregate-category"}) %>
       </div>

       <div class="field">
       <h3>取り組むテーマを記入しよう！</h3>
       <%= f.text_field :result_comment, class: "post"%>
       </div>

       <div class="field">
        <h3>身に付けたい・成長させたい能力を記録しよう！</h3>
        <%= f.collection_select(:ability_id, Ability.all, :id, :name, {}, {class:"select-box",id:"aggregate-category"}) %>
       </div>

      <div class="field">
       <h3>if-thenルールを決めよう！</h3>
        <%= f.text_area :self_compliment,class: "text",placeholder: "例：if 自分の部屋に入ったら  then 本を開く。"%>
      </div>
      
      <div class ="actions">
        <%= f.submit "記録する！" ,class: "aggregate-btn"%>
      </div>
      <% end %>
  </div>
  <div class="content-text">
     <div class="contents-image" id="contents-image">
        <%= image_tag "3411592_s.jpg" ,class: "aggregate-image" %>
        <p>if-thenルール：「XだったらYをする」</p>
        <p>これから起こること＝Xを予測して、</p>
        <p>どうするか＝Yを決めておくことです。</p>
        <p>このように意思決定のフォーマットを作成することで</p>
        <p>弱い意思でも決めた行動に従うことができます。</p>
     </div>
     
  </div>
</div>