<%= render "shared/login"%>
<div class ="search-screen">
    <h1 class="select-title">My Note Page</h1>
       <% @aggregates.each do |aggregate| %>
   <div class ="search-contents">
      <% if aggregate.action_point.present? %>
     <div class ="search-lists">
         <div class="aggregate-show">
            <span><%= aggregate.start_day %></span>
            <span>テーマ：<%= aggregate.result_comment %></span>
      <%= link_to aggregate_path(aggregate.id) do %>
          <span><button type ="button" >詳細</button></span>
      <% end %>
      <%= link_to edit_aggregate_path(aggregate.id) do %>
          <span><button type ="button">編集</button></span>
      <%end%>
      <%= link_to aggregate_path(aggregate.id), method: :delete do %>
          <span><button type ="button">削除</button></span>
      <% end %>
          </div>
       </div>
      <% end %>
      <% end %>
</div>