<%= render "shared/login" %>
<div class="aggregate-show-box">
  <div class= "aggregate-show-contents">
   <h1>My Note Page</h1>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-object">取り組んだ内容</th>
          <td class="detail-value"><%= simple_format(@aggregate.result_comment) %></td>
        </tr>
        <tr>
          <th class="detail-object">成長した能力</th>
          <td class="detail-value"><%= @aggregate.ability.name %></td>
        </tr>
        <tr>
          <th class="detail-object">スタート</th>
          <td class="detail-value"><%= @aggregate.start_day %></td>
        </tr>
        <tr>
          <th class="detail-object">期間</th>
          <td class="detail-value"><%= @aggregate.period.name %></td>
        </tr>
        <tr>
          <th class="detail-object">達成率</th>
          <td class="detail-value"><%= @aggregate.action_point %></td>
        </tr>
        <tr>
          <th class="detail-object">if-thenルール</th>
          <td class="detail-value"><%= simple_format(@aggregate.self_compliment) %></td>
         </tr>
      </tbody>
    </table>
   </div>
 </div>
