<%= render "shared/form"%>
<div class="login-form">
  <div class="login-contents">
    <h2 class="login-title">Log in form</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="login-field">
        <%= f.email_field :email, autofocus: true ,class: "text",placeholder: "----登録したメールアドレスを入力して下さい----"%>
      </div>

      <div class="login-field">
        <%= f.password_field :password, autocomplete: "off" , class: "text",placeholder:"-----ユーザーのパスワードを入力して下さい-----"%>
      </div>

      <div class="actions">
        <%= f.submit "Log in " ,class: "sign-up"%>
      </div>

    <% end %>
  </div>
  <p>*パスワードを忘れてしまった場合</p>
  <br>
  <p>*正常にログインできない場合は問合せフォームへお願いします</p>
</div>
<%= render "shared/futter" %>