<!DOCTYPE html>
<html>
  <head>
    <title>LetsStartNow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/2865365d85.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%# debug(params) if Rails.env.development? %>
    <%= yield %>
  </body>
</html>
